<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../flexboxStyle.css">
</head>
<body>
<div class="wrapper">
    <div class="group1">
        <div class="group2">
            <div class="block1"></div>
            <div class="group3">
                <div class="group4">
                    <div class="group5">
                        <div class="block3"></div>
                        <div class="block4"></div>
                    </div>
                    <div class="block6"></div>
                </div>
                <div class="block5"></div>
            </div>
        </div>
        <div class="block2"></div>
    </div>
    <div class="block7"></div>
</div>
</body>
</html>