<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/floatPage">Розміка Float</a>
<a href="/flexboxPage">Розміка Flexbox</a>
<a href="/gridLayoutPage">Розміка Grid Layout</a>
</body>
</html>